body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(29,124,253,0.5943627450980392) 50%, rgba(252,176,69,1) 100%);
}

.calculator {
    border: 1px solid #000;
    width: 300px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


input::placeholder{
    opacity: 30%;
    color: white;
    padding: 3%;
}
h5{
    text-align: left;
    padding-left: 10%;
}
#display {
    outline: none;
    width: 80%;
    height: 40px;
    margin-bottom: 10px;
    font-size: 20px;
    background-color: rgb(188, 188, 188);
}

button {
    width: 50px;
    height: 50px;
    font-size: 18px;
    margin: 5px;
    background: transparent;
    border:1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);  

}
button:hover{
    color: aliceblue;
    background: black;
}
